.first_level {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  color: #787D85;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
}

.first_level__active,
.first_level:hover
{
  color: var(--primary);
}

.first_level__active svg,
.first_level:hover svg {
  fill: var(--primary);
}

.second_level {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--grey-dark);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.second_block {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #DfDfDf;
}

.second_level__block__opened {
  margin-bottom: 20px;
}

.third_level {
  display: block;
  margin-bottom: 10px;
  cursor:pointer;
  color: var(--grey-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.third_level__active,
.third_level:hover {
  color: var(--primary);
}
